
    <!-- csdn -->
    <% if(theme.sns2.csdn) { %>
        <a href="<%= theme.sns2.csdn %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url(<%= theme.img.footerico %>csdn1.png);">
                <span class="visuallyhidden">csdn</span>
            </button><!--
     --></a>
    <% } %>

    <!-- Github -->
    <% if(theme.sns2.github) { %>
        <a href="<%= theme.sns2.github %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url(<%= theme.img.footerico %>github.png);">
                <span class="visuallyhidden">Github</span>
            </button><!--
     --></a>
    <% } %>

    <!-- Zhihu -->
    <% if(theme.sns2.zhihu) { %>
        <a href="<%= theme.sns2.zhihu %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url(<%= theme.img.footerico %>zhihu.png);">
                <span class="visuallyhidden">Zhihu</span>
            </button><!--
     --></a>
    <% } %>

    <!-- steam -->
    <% if(theme.sns2.steam) { %>
        <a href="<%= theme.sns2.steam %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url(<%= theme.img.footerico %>steam.png);">
                <span class="visuallyhidden">steam</span>
            </button><!--
     --></a>
    <% } %>

