
    <!-- Github -->
    <% if(theme.sns.github) { %>
        <a href="<%= theme.sns.github %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url(<%= theme.img.footerico %>github.png);">
                <span class="visuallyhidden">Github</span>
            </button><!--
     --></a>
    <% } %>
	
	<!-- csdn -->
    <% if(theme.sns.csdn) { %>
        <a href="<%= theme.sns.csdn %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url(<%= theme.img.footerico %>csdn1.png);">
                <span class="visuallyhidden">csdn</span>
            </button><!--
     --></a>
    <% } %>

    <!-- Zhihu -->
    <% if(theme.sns.zhihu) { %>
        <a href="<%= theme.sns.zhihu %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url(<%= theme.img.footerico %>zhihu.png);">
                <span class="visuallyhidden">Zhihu</span>
            </button><!--
     --></a>
    <% } %>

    <!-- Bilibili -->
    <% if(theme.sns.bilibili) { %>
        <a href="<%= theme.sns.bilibili %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url(<%= theme.img.footerico %>bilibili.png);">
                <span class="visuallyhidden">Bilibili</span>
            </button><!--
     --></a>
    <% } %>


